<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title></title>

 <!-- STYLESHEETS -->
 <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
 <link rel="stylesheet" href="styles/styles.css">

 <!-- VENDOR SCRIPTS -->
 <script src="vendor/jQuery/dist/jquery.min.js"></script>
 <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="vendor/handlebars/handlebars.min.js"></script>

 <!-- APPLICATION SCRIPTS -->
 <script src="scripts/col.js"></script>
 <script src="scripts/home.js"></script>
</head>

<body>
  <div class="jumbotron">
     <div class="container">
  <header>
  	<img src="" alt="#Project1887 Photo" style="width:250px;height:250px">
  <h1>#Project1887</h1>
  	<ul>
  <li><a href = "http://www.famu.edu/">FAMU Homepage<a/></li>
  <li><a href = "home.html">Schools & Colleges<a/></li>
  </ul>
  </header>
    </div>
 </div>

 <legend class="text-center">How has your time at FAMU impacted your trajectory in life?</legend>

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>College</h2>
        </div>
      </div>
      <div id='college'>
        <script id='college-template' type='text/x-handlebars-template'>
          <div class="row college">
            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">
                <!-- begin alumni internal row -->
                  <div class='row'>
                    <div class="col-md-3 col-xs-12 thumbnail college-art">
                      <img src="images/akbeezy.png" alt="college image">
                    </div>

                    <div class="col-md-9 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <h4 class='inline-header'>Name:</h4>
                          <span class='college-name'>{{name}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Alumni:</h4>
                          <span>&ndash; {{#each alumni}} ({{name}}) {{email}} {{year}} {{major}} {{job}} {{message}} &ndash;  {{/each}}</span>
                        </li>
                      </ul>
                    </div>

                  </div>
                  <!-- end of college internal row -->
                  <div class='panel-footer'>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>

      </div>
    </section>

    <div class="modal fade" tabindex="-1" role="dialog" id="alumniModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">

              <fieldset class='form-horizontal'>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="alum">Name</label>
                    <div class="col-md-4">
                    <input id="alum" name="alum" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-4">
                    <input id="email" name="email" type="text" placeholder="(Optional)" class="form-control input-md">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="year">Year Graduated</label>
                    <div class="col-md-4">
                    <input id="year" name="year" type="text" placeholder="1887" class="form-control input-md" required="">
                    </div>
                  </div>

                  <div class="form-group">
                  <center>
                  <select id="selectCollege" name="selectCollege">
                  <option value="">School of Business and Industry </option>
                  <option value="">School of Journalism and Graphic Communication </option>
                  <option value="">College of Pharmacy and Pharmaceutical Sciences </option>
                  <option value="">College of Engineering (FAMU-FSU) </option>
                  <option value="">College of Law </option>
                  <option value="">School of Allied Health Sciences </option>
                  <option value="">College of Education </option>
                  <option value="">School of Nursing </option>
                  <option value="">School of the Environment </option>
                  <option value="">School of Architecture and Engineering Technology </option>
                  <option value="">College of Science and Technology </option>
                  <option value="">College of Social Sciences, Arts and Humanities </option>
                  <option value="">School of Graduate Studies and Research </option>
                  <option value="">College of Agriculture and Food Sciences </option>
                  </select>
                  </center>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="major">Major</label>
                    <div class="col-md-4">
                    <input id="major" name="major" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="job">Occupation</label>
                    <div class="col-md-4">
                    <input id="job" name="job" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" style="font-size: 15 "- for="message">Message</label>
                    <div class="col-md-4">
                      <textarea class="form-control" id="message" name="message"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-4">
                      <button id="sharebutton" name="sharebutton" class="submit">Share</button>
                    </div>
                  </div>
            </fieldset>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveAlumni">Save changes</button>
              </div>
            </div>
          </div>
        </div>

</body>

</html>
