<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title></title>

 <!-- STYLESHEETS -->
 <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
 <link rel="stylesheet" href="/styles/styles.css">

 <!-- VENDOR SCRIPTS -->
 <script src="/vendor/jQuery/dist/jquery.min.js"></script>
 <script   src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>
 <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 <script src="/vendor/handlebars/handlebars.min.js"></script>

 <!-- APPLICATION SCRIPTS -->
 <script src="/scripts/col.js"></script>
</head>

<body>
  <div class="jumbotron">
     <div class="container">
  <header>
  	<img src="/images/1887.png" alt="#Project1887 Photo" style="width:250px;height:250px">
    <br>
      <br>
        <br>
          <br>
            <br>
              <br>
              <br>
                <br>
                  <br>
                    <br>
                    <br>
                      <br>
                        <br>
                        <br>
                          <br>

  	<ul>
  <li2><a href = "http://www.famu.edu/">FAMU Homepage<a/></li>
  <li2><a href = "/">Schools & Colleges<a/></li>
  </ul>
  </header>
    </div>
 </div>
 <center>
 <img src="/images/trajectory.png" alt="trajectory"  >
 </center>

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        </div>
      </div>
      <div id='college'>
        <script id='college-template' type='text/x-handlebars-template'>
          <div class="row college">
            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">
                <!-- begin alumni internal row -->
                  <div class='row'>
                    <div class="col-md-3 col-xs-12 thumbnail college-art">
                      <img src='/images/rattler.png' alt="college image" style="width: 100px; height:100px">
                    </div>

                    <div class="col-md-9 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <span class='college-name'><b>{{name}}</b></span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Alumni:</h4>
                          <span> {{#each alumni}}<br><br> &nbsp <b>Name:</b> {{alum}} <br><br> &nbsp <b>Email:</b> {{email}} <br><br> &nbsp <b>Year:</b> {{year}} <br><br> &nbsp <b>Major:</b> {{major}} <br><br> &nbsp <b>
                                  Occupation:</b> {{job}} <br><br> &nbsp <b>Message:</b> {{message}}  <hr> {{/each}}</span>
                        </li>

                      </ul>
                    </div>

                  </div>
                  <!-- end of college internal row -->
                  <div class='panel-footer'>
                      <div class='panel-footer'>
                        <center>
                        <button class='btn btn-primary add-alumni' >Add Your Story</button>&nbsp
                        <!-- <button class='btn btn-danger delete-college'>Delete Alumni</button>&nbsp -->
                        <button class='btn btn-info edit-alumni'>Edit Alumni</button>
                        <button class='btn btn-success save-college hidden'>Save Changes</button>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </script>

      </div>
    </section>

    <div class="modal fade" tabindex="-1" role="dialog" id="alumniModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">

              <fieldset class='form-horizontal'>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="alum">Name</label>
                    <div class="col-md-4">
                    <input id="alum" name="alum" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-4">
                    <input id="email" name="email" type="text" placeholder="(Optional)" class="form-control input-md">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="year">Year Graduated</label>
                    <div class="col-md-4">
                    <input id="year" name="year" type="text" placeholder="1887" class="form-control input-md" required="">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="major">Major</label>
                    <div class="col-md-4">
                    <input id="major" name="major" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="job">Occupation</label>
                    <div class="col-md-4">
                    <input id="job" name="job" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" style="font-size: 15 "- for="message">Message</label>
                    <div class="col-md-4">
                      <textarea class="form-control" id="message" name="message"></textarea>
                    </div>
                  </div>
            </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveAlumni">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Edit Alumni Modal -->
<div class="modal fade bs-modal-lg" id="editAlumniModal" tabindex="-1" role="dialog" aria-labelledby="editAlumniModalTitle">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editAlumniModalTitle">Alumni List</h4>
      </div>
      <div class="modal-body" id='editAlumniModalBody'>
        <p> REPLACE #editAlumniModalBody </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
 </div>
</body>

<script id='alumni-edit-template' type='text/x-handlebars-template'>
      {{#each alumni}}
<form class="form-inline" id="{{_id}}" data-college-id="{{../collegeId}}" >
  <div class="form-group">
    <input type="text" class="form-control alumni-name" value="{{alum}}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control alumni-email" value="{{email}}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control alumni-year" value="{{year}}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control alumni-major" value="{{major}}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control alumni-job" value="{{job}}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control alumni-message" value="{{message}}">
  </div>
  <div class="form-group">
    <button class="btn btn-danger" data-alumni-id="{{_id}}">x</button>
  </div>
</form>
    {{/each}}
</script>

</html>
