<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title></title>

 <!-- STYLESHEETS -->
 <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
 <link rel="stylesheet" href="styles/styles.css">

 <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

 <!-- APPLICATION SCRIPTS -->
 <script src="scripts/home.js"></script>
</head>

<body>
  <div class="jumbotron">
     <div class="container">
  <header>
  	<img src="" alt="#Project1887 Photo" style="width:250px;height:250px; align:center">
  <h1>#Project1887</h1>
  	<ul>
  <li><a href = "http://www.famu.edu/">FAMU Homepage<a/></li>
  </ul>
  </header>
    </div>
  </div>

      <div class="container">
        	<h2>Select your College or School </h2>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src="" alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
           <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src="" alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src="" alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src="" alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src="" alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src="" alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src=""alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src=""alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src=""alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src=""alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src=""alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src=""alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src=""alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>
          <div class="col-xs-3">
              <a href="col.html" class="thumbnail">
                   <img src=""alt="" style="width:200px;height:200px" class="img-responsive">
              </a>
          </div>

</body>

</html>
