.jumbotron {
	text-align: center;
	background: url(/images/leehall.jpg);
	background-size: cover;
	color:;
}
h1 {
	color: White;
	text-align: center;
	font-size: 75px;
	font: Lucida Sans;
    border-radius: 75px;
    opacity: 1px;
}
h2 {text-align: center;
	color: black;
	font-size: 75px;
	text-decoration: underline;
	/*text-shadow: -0.06em 0 red, 0.06em 0 cyan;*/
	padding-bottom: .1px;
}
h4 {text-align: center;
	color: black;
}
ul {padding: px;
	/*color: green;*/
}
img {
     margin: 2px 0px 0px 0px;
      border: 2px white;

}
li {
	display: inline;
    padding: 5px;
    margin-bottom: 4px;
		margin-left: 6px;
    background-color :#44A447;
    border-radius: 20px;
    opacity: .75;
}
a {
	margin: 40px 0px 0px 0px
}
fieldset {
	max-width: 300px;
}
article {
	font: lucida;
	max-width: 800px;
	padding: 5px;
	margin: 0 auto;
}
input {
	display: block;
	padding:
}
@media (max-width: 500px) {
      h1 {
        font-size: 36px;
        }
        li {
          display: block;
          padding: 5px;
      }
    }
